@import 'variable';
@import 'mixin';

#service {
    h1 {
        text-align: center;
    }
    p {
        position: relative;
        text-align: center;
        padding: 20px;

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            display: block;
            width: 50px;
            height: 3px;
            border-radius: 10px;
            background-color: $decoration-color-grey;
        }
    }
}


#photowall {
    .box {
        @include size(100%, 300px);
        border: 1px solid black;
    }
}

#product {
    .color-group {
        position: relative;
        width: 20px;
        height: 20px;

        .color-radio {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
       
            // 兄弟選擇器
            &:checked + .color-label{
                opacity: 1;
            }
            
            // 負責外觀
            &::before{
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                width: 18px;
                height: 18px;
                background-color: rgb(247, 247, 245);
                border-radius: 50%;
    
            }
        }
    
        .color-label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            border-radius: 50%;
            opacity: 0;
            width: 12px;
			height: 12px;
            margin: 0;
			border-radius: 50%;
         
        }
    }
}

#Pricing {
    h1 {
        text-align: center;
    }
    p {
        position: relative;
        text-align: center;
        padding: 20px;   
    }
}

#Pitchfork {
    h1 {
        text-align: center;
    }
    p {
        position: relative;
        text-align: center;
        padding: 20px;   
    }
}


#map {
    position: relative;

    .container{
        position: relative;
        height: 650px;
    
    
        .feedback{
            position: absolute;
             z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 350px;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            
        }
    }
    
    iframe{
        position: absolute;
        top: 3rem;
    }

}



    



    
